
@import url('https://fonts.googleapis.com/css?family=Spirax');
body {
    background: #fff;
}
.header {
	font-family: 'Spirax', cursive !important;
    margin-top: 50px !important;
}
.logo {
    background: #1F2021;
    color: #fff;
    height: 75px;
    padding-top: 35px !important;
}
.profile {
    padding: 25px !important;
    background: #222D32;
    height: 70px;
    color: #fff;
}
.side_menu_nav_header {
    padding: 0px 15px !important;
    background: #1A2226;
    height: 80px;

}
.side_menu_nav_header p a {
    color: #4b646f !important;
    text-transform: uppercase !important;
    font-size: 18px;
}
.logan-header {
    color: #fff !important;
    background: #1F2021;
}
.dashboard_title {
    padding-top: 18px !important;
    font-family: 'Spirax', cursive;
    font-size: 22px;
}
.dashboard_title a span {
    color: #fff;
}
.dashboard_title a img {
    margin-left: 1em;
    width: 1.3em !important;
    height: 1.3em !important;
}
.min_height {
    min-height: 600px;
}
#toggle {
    color : #fff;
    font-size: 23px;
    margin-left: 10px;
    cursor: pointer;
}
.side_nav a {
    font-size: 1.6em !important;
}
.side_nav h1 {
    background: #1B1C1D;
    font-family: 'Spirax', cursive;
}
.books-list {
	margin-top: 80px !important;
}
.book-search input{
	margin-top: 10px !important;
}
.book-search-icon {
    margin-top: 5px !important;
}
.book-search input {
    background: #22516D !important;
    color: #fff !important;
}
.signout {
    font-size: 18px;
    color: #fff !important;
}
.add-book-to-borrower {
	padding: 20px;
}
.pub_year, .return_table {
	height: 240px;
}
.pub_year button {
    margin-top: 18px !important;
}
.pub_table {
	margin-top: 43px !important;
}
/*------------ Footer Section--------------
---------------------------------------------*/
footer {
	background: #1F2021;
	height: 250px;
    margin-top: 100px;
}
footer {
	margin-bottom: 0em;
}
footer .row {
	margin-top: 50px;
}
footer .copyright {
	margin-top: 50px;
}
footer .up-arrow {
	float: right;
	font-size: 42px;
	color: #fff;
	margin-right: 20px;
}
